.service_card{
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 40rem;
    gap: 2rem;
    border-radius: var(--borderRadius);
    --webkit-box-shadow: 0 25px 15px rgba(0, 0, 0, 0.1);
    box-shadow: 0 25px 15px rgba(0, 0, 0, 0.1);
}

.title {
    color: var(--textColor);
    background-color: var(--primaryColor);
    border-radius: var(--borderRadius) var(--borderRadius) 0 0;
    text-align: center;
    padding: 1.75rem 0;
    width: 100%;
}

.subtitle {
    color: var(--textColorGrey);
}

.price {
    color: var(--primaryColor);
    font-weight: 600;
    font-size: clamp(3rem, 5vw, 4.2rem);
    padding: 1rem;
}


.price_per{
    font-size: clamp(1.8rem, 3vw, 3rem);
}

.list_item_container{
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: var(--contentGap);
}


.list_item {
    display: flex;
    align-items: center;
    justify-content: space-between;
    gap: 2rem;
    width: 100%;
    /* width: 30rem; */
    color: var(--fontColor);
}

.icon {
    background-color: var(--defaultColor);
    color: var(--primaryColor);
}

.btn_container {
    margin: 2.5rem 0;
    padding-bottom: 2.5rem;
}

/* Mobile Devices up to 480px */
@media (max-width: 480px) {  
    .service_card {
        width: var(--cardWidthMobile);
        gap: 1rem;
    }
}

/* Mobile Devices up to 380px */
@media (max-width: 380px) {  
    .service_card{
        width: var(--cardWidthMobileTiny);
    }
}