.services{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 5rem;
    margin-top: 30rem;
    margin-bottom: 7rem;
}

.service_detail_top {
    display: flex;
    flex-direction: column;
    align-items: center;
    background-color: var(--primaryColor);
    padding: 2rem;
    border-radius: var(--borderRadius);
    width: 85%;
    flex: 2;
    text-align: center;
    margin-bottom: var(--contentGap);
    -webkit-box-shadow: 0 0 15px rgba(61, 148, 255, 1), 0 25px 15px rgba(61, 148, 255, 1), -15px 0 15px rgba(61, 148, 255, 1), 15px 0 15px rgba(61, 148, 255, 1);
    box-shadow: 0 0 15px rgba(61, 148, 255, 1), 0 25px 15px rgba(61, 148, 255, 1), -15px 0 15px rgba(61, 148, 255, 1), 15px 0 15px rgba(61, 148, 255, 1);
    animation: pulsate 1.25s infinite ease-in-out;
}

@keyframes pulsate {
    0%, 100% {
      -webkit-box-shadow: 0 0 15px rgba(61, 148, 255, 0.2), 0 25px 15px rgba(61, 148, 255, 0.2), -15px 0 15px rgba(61, 148, 255, 0.2), 15px 0 15px rgba(61, 148, 255, 0.2);
      box-shadow: 0 0 15px rgba(61, 148, 255, 0.2), 0 25px 15px rgba(61, 148, 255, 0.2), -15px 0 15px rgba(61, 148, 255, 0.2), 15px 0 15px rgba(61, 148, 255, 0.2);
    }
    50% {
      -webkit-box-shadow: 0 0 17px rgba(61, 148, 255, 0.25), 0 25px 17px rgba(61, 148, 255, 0.25), -17px 0 17px rgba(61, 148, 255, 0.25), 17px 0 17px rgba(61, 148, 255, 0.25);
      box-shadow: 0 0 17px rgba(61, 148, 255, 0.25), 0 25px 17px rgba(61, 148, 255, 0.25), -17px 0 17px rgba(61, 148, 255, 0.25), 17px 0 17px rgba(61, 148, 255, 0.25);
    }
}


.service_detail_top p {
    font-size: clamp(1.8rem, 2.5vw, 2.2rem);
    color: var(--textColor)
}

.service_detail_container{
    display: flex;
    gap: 10rem;
}

.second_container_margin {
    margin: 3.5rem 0;
}


.service_detail{
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
    justify-content: space-between;
    gap: var(--contentGap);
    border: 1px solid white;
    margin-top: 3rem;
    flex: 1;
}

.services_icon{
    width: 10rem;
    height: auto;
}

.service_detail p {
    flex: 1;
}

/* Tablets (portrait) */
@media (max-width: 950px) { 
    .service_detail_container {
        align-items: center;
        flex-direction: column;
        gap: 3rem;
        text-align: left;
    }

    .service_detail, .service_detail_top{
        text-align: left;
    }
}

/* Mobile Devices up to 480px */
@media (max-width: 480px) {  
    .services{
        margin-top: 27.5rem;
    }
    .service_detail_top{
        width: 100%;
    }
}

/* Smaller Mobile Devices up to 420px */
@media (max-width: 420px) {  
    .services{
        margin-top: 24.5rem;
    }
}

/* Mobile Devices up to 380px */
@media (max-width: 380px) {  
    .services{
        margin-top: 24.5rem;
      
    }
}
