.container {
  max-width: var(--container);
  margin: 0 auto;
  padding-left: var(--gutter);
  padding-right: var(--gutter);
}

@media (max-width: 640px) {
  .container {
    padding-left: var(--gutter-sm);
    padding-right: var(--gutter-sm);
  }
}
