.hamburger, .hamburger_active{
    display: none;
    position: absolute;
    top: 4rem;
    right: 8rem;
    cursor: pointer;
    color: var(--defaultColor);
    z-index: 100;
}

.hamburger_active {
    position: fixed;
}
  
.bar {
    display: block;
    width: 4rem;
    height: 0.4rem;
    margin: 0.5rem auto;
    -webkit-transition: all var(--hoverTransition);
    transition: all var(--hoverTransition);
    background-color: var(--defaultColor);
}

.hamburger_active .bar:nth-child(2){
    opacity: 0;
}

.hamburger_active .bar:nth-child(1){
    transform: translateY(0.8rem) rotate(45deg);
}
.hamburger_active .bar:nth-child(3){
    transform: translateY(-0.8rem) rotate(-45deg);
}

/* Tablets (portrait) */
@media (max-width: 950px) { 
    .hamburger{
        display: block;    
    }
}

/* Mobile Devices (landscape) */
@media (max-width: 775px) { 

}

/* Mobile Devices up to 480px */
@media (max-width: 480px) {  
    .hamburger, .hamburger_active{
        top: 4rem;
        right: 4rem;
    }
    .bar{
        height: 0.3rem;
    }
}

/* Tiny Mobile Devices up to 325px (e.g. galaxy fold) */
@media (max-width: 325px) {  

}